<h1>about</h1>
<div class="about">
<p> Hey there! Just in case you were curious, this app was made by Jen Palacios</p>
<p>You can contribute to it and make it better on <a href="https://github.com/JenPalacios/wikiland">Github</a></p>
<p>Also, don't be afraid to drop me a line here >> palacios.jennifer@gmail.com</p>
</div>
