<div class="container">

  <div class="brand">
  <h1>wikiland<span class="glyphicon glyphicon-leaf"></span></h1><br/> 
  <p>social markdown wikis</p>
  </div>

  <div class="action">
  <p>Create and share wikis without any hassle!</p>
  <%= link_to "sign up", new_user_registration_path %>
  </div>

  <div class="accounts">
    <div class="accounts-free">
      <a href="#"> free account </a>
      <p> Create as many public<br/>
        wikis as you want!</p>
    </div>

    <div class="accounts-paid">
      <a href="#" class:""> premium account </a>
      <p> Create private wikis! </p>
    </div>
  </div>
</div>
