<div class="container">

  <div class="brand">
  <h1>wikiland<span class="glyphicon glyphicon-leaf"></span></h1><br/> 
  <p>social markdown wikis</p>
  </div>

  <div class="action">
  <p>Create and share wikis without any hassle!<br/></p>
  <%= link_to "sign up today!", new_user_registration_path %>
  </div>

  <div class="accounts">
    <div class="accounts-free">
      <h4> free account </h4>
      <p> Create as many public<br/>
        wikis as you want!</p>
    </div>

    <div class="accounts-paid">
      <h4> premium account </h4>
      <p> Create private wikis! For only <strong>US$15</strong> per year</p>
    </div>
  </div>
</div>
