<% if current_user.role == 'premium'%>
      <h4>my private wikis</h4>
      <%= render @wikis %>
  <% else %>
      <h4>my collab wikis</h4>
      <p>You are a collaborator in <%= pluralize(current_user.collaborators.count, 'wiki') %></p>
      <% @collaborators.each do |collab|%>
      <%= collab.wiki.title %>
      <% end %>
    <% end %>