/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Google font for logo >> font-family: 'Special Elite', cursive; */

/* Navigation */

header {
  background-color: rgba(128, 128, 128, 0.1);
  height: 45px;
}

  .logo {
    display: inline-block;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    color: rgb(56, 170, 28);
    margin-left: 20px;
    margin-top: 8px;
  }

  .user {
    text-align: center;
    font-size: 22px;
    float: right;
    margin-top: 6px;
    margin-right: 20px;
    color: rgb(0, 92, 184);
  }

  nav a {
    color: rgb(77, 77, 77);
    font-size: 18px;
    float: right;
    margin: 10px 20px 0px 0px;
  }

    nav a:hover {
      text-decoration: none;
      color: rgb(56, 170, 28);
    }

/* Welcome Index */

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .brand {
    text-align: center;
  }

    .brand h1 {
      font-family: 'Special Elite', cursive;
      font-size: 82px;
      color: rgb(56, 170, 28);
      text-align: center;
      margin-bottom: -20px;
      letter-spacing: 0.15em;
    }

      h1 span {
        color: rgb(0, 0, 0);
        font-size:42px;
      }

        h1 span:hover {
          color: rgb(148, 148, 148);
        }

    .brand p {
      font-size: 22px;
      display: inline-block;
      line-height: 1;
    }

  .action {
    text-align: center;
    margin-top: 30px;
  }

    .action p{
      font-size: 24px;
    }

    .action a {
      border: 4px solid rgb(0, 92, 184);
      border-radius: 4px;
      font-size: 22px;
      padding: 6px;
    }

      .action a:hover {
        text-decoration: none;
        color: rgb(56, 170, 28);
      }

  .accounts {
    margin-top: 60px;
    height: 200px;
    width: 600px;
  }

    .accounts-free {
      border: 2px solid rgb(102, 102, 102);
      border-radius: 4px;
      display: inline-block;
      padding: 8px;
      text-align: center;
      height: 100px;
      width: 200px;
    }

    .accounts-paid {
      border: 2px solid rgb(255, 204, 0);
      border-radius: 4px;
      display: inline-block;
      padding: 8px;
      text-align: center;
      height: 100px;
      width: 200px;
      float: right;
    }
     
      .accounts p {
        margin-top: 10px;
        text-align: center;
      }

/* Devise Forms */

.container-form {
  width: 280px;
  padding: 8px;
  margin: auto;
}

  .container-form h2 {
    text-align: center;
  }

  .field {
    margin-top: 20px;
  }

  .actions {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

    .btn {
      background-color: transparent;
      border: 4px solid rgb(0, 92, 184);
    }

/* About Page */

.about {
  width: 840px;
  margin-top: 40px;
  margin-left: 20px;
}

  .about p{
    font-size: 24px;
  }

/* Wiki index */

.upgrade-message{
  background-color: rgba(255, 255, 102, 0.2); 
  text-align: center;
  font-size: 16px; 
}

.downgrade-message{
  background-color: rgba(0, 163, 82, 0.2); 
  text-align: center;
  font-size: 16px; 
}

.new-wiki {
  border: 2px solid rgba(128, 128, 128, 0.4);
  border-radius: 8px;
  float: right;
  margin-right: 40px;
  margin-top: 40px;
  padding: 4px;
}

  .new-wiki a:hover {
    text-decoration: none;
  }

.search {
  display: inline-block;
  margin-top: 20%;
  margin-left: 20%;
}

.wiki-container {
  padding: 28px;
  margin-top: 2%;
}

.preview-wikis-container{
  border: 2px solid rgba(128, 128, 128, 0.1);
  border-radius: 4px;
  height: 150px;
  margin: 0 30px 30px 30px;
  padding-bottom: 0px;
}

  #fixed-size {
   width: 1150px;
   margin: 0 auto;
   height: 100%;
  }

  .btn-group{
    float: right;
    margin: 5px;
  }

    .glyphicon-cog{
      color: rgb(41, 122, 204);
    }

  #preview {
    padding: 0 10px 0 10px;
    float: left;
  }

  #preview h4 {
    margin:0;
    padding: 0;
  }

  #previoew p {
    margin: 0;
    padding: 0;
  }

  #link {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    top: 120px;
  }


/* New form - wiki */

.new-form{

  width: 480px;
  height: 550px;
  padding: 12px;
  margin: 0 auto;
  
}

/* Wiki#show */

.wiki-show{
  padding: 40px; 
  width: 1000px;
}

  .wiki-show p {
    font-size: 18px;
  }
